/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: '1';
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4.ttf);
}
@font-face {
    font-family: '2';
    src: url(./KFOmCnqEu92Fr1Mu4mxK.ttf);
}
@font-face {
    font-family: '3';
    src: url(./plain-light-webfont.ttf);
}
@font-face {
    font-family: '4';
    src: url(./plain-regular-webfont.ttf);
}
@font-face {
    font-family: '5';
    src: url(./silkserif-lightitalic-webfont.ttf);
}
@font-face {
    font-family: '6';
    src: url(./silkserif-regularitalic-webfont.ttf);
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    
}
html , body{
    height: 100%;
    width: 100%;
    /* cursor: none; */
}#cursor{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    opacity: 0;
    position: fixed;
    z-index: 19;
    border: 1px solid rgba(255, 255, 255, 0.8);
    mix-blend-mode: difference;
    pointer-events: none;
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #030303;
    z-index: 999;
    position: fixed;
    padding: 20vh 5vw;
    /* display: none; */
}
.line{
    font-size: 3vw;
    font-weight: 200;
    font-family: '3';
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .35vw;
    overflow: hidden;
}
.line:nth-child(1){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    margin-left: 2%;
    /* border-top: 1px solid white; */
}  
.line:nth-child(1) span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.4vw;
}
.line:nth-child(1)>h1{
    margin-left: 5%;
    display: inline;
}   
.line:nth-child(1)>span>h1{
    font-family: '5';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.8vw;
    font-weight: 500;
}
#timer{
    margin-top: .6vw;
}
#counter {
    display: block;
    text-align: right;
    width: 5vw;
}
.line:nth-last-child(1)>h4{
    font-size: .7vw;
    font-weight: 100 !important;
    text-transform: none;
    line-height: 1 !important;
    letter-spacing: .5px !important;
    font-family: '2';
    margin-left: 23.5%;
    margin-top: 5%;
    opacity: .9;
    /* background-color: blue; */
    position: relative;
}
.line:nth-last-child(2)>h1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1vw;
}
.line:nth-last-child(2)>h1>span{
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    opacity: 0;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transition: cubic-bezier(.24,.68,.95,1.04);
    -o-transition: cubic-bezier(.24,.68,.95,1.04);
    transition: cubic-bezier(.24,.68,.95,1.04);
    font-weight: 400;
    font-size: 6vw;
    /* background-color: red;     */
}
@-webkit-keyframes changing {
    0%{
        color: white;
        font-family: '3';
    }
    10%{
        opacity:0
    }
    25%{
        opacity: 1;
        font-family: '5';
        -webkit-text-stroke: 1px white;
        color: transparent;
    }
    35%{
        opacity:0
    }
    50%{
        opacity: 1;
        font-family: '3';
        color: white;
    }
    60%{
        opacity:0
    }
    75%{
        opacity: 1;
        font-family: '5';
        -webkit-text-stroke: 1px white;
        color: transparent;
    }
    80%{
        opacity:0
    }
    100%{
        opacity: 1;
        color: white;
        font-family: '3';
    }
}
@keyframes changing {
    0%{
        color: white;
        font-family: '3';
    }
    10%{
        opacity:0
    }
    25%{
        opacity: 1;
        font-family: '5';
        -webkit-text-stroke: 1px white;
        color: transparent;
    }
    35%{
        opacity:0
    }
    50%{
        opacity: 1;
        font-family: '3';
        color: white;
    }
    60%{
        opacity:0
    }
    75%{
        opacity: 1;
        font-family: '5';
        -webkit-text-stroke: 1px white;
        color: transparent;
    }
    80%{
        opacity:0
    }
    100%{
        opacity: 1;
        color: white;
        font-family: '3';
    }
}
html::-webkit-scrollbar{
    display: none;
}
#main{
    position: relative;
    background-color: #151515;
    -webkit-scrollbar: none;
    overflow: hidden;
}   
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    /* background-color: red; */
}
nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4.83vh 6.85vw;
    padding-right: 4vw;
    /* background-color: red; */
}
#nav-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
    padding-top: .25vw;
    margin-left: -3%;
}
#nav-right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.87vw;
    /* background-color: blue; */
    padding-top: .1vw;
}
#nav-right>h4{
    font-size: .875vw;
    letter-spacing: -.015vw;
    font-family: '3';
    font-weight: 300;
    line-height: 1.475;
}
#center{
    /* background-color: blue; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: center; */
    margin-top: 6.4%;
    width: 60%;
    margin-left: 27%;
    /* position: relative; */
    /* overflow-y: hidden; */
}
.hero{
    position: relative;
    /* overflow-y: hidden; */
}
.hero>h1{
    font-family: '4';
    word-spacing: -.35vw;
    font-weight: 400;
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: .3vw;
    position: relative;

}
#z-1::after{
    content:"01";
    font-family: '6';
    font-style: italic;
    font-weight: 400;
    font-size: 3vw;
    position: absolute;
    /* background-color: blue; */
    left: -12.8%;
    top: 11%;
    /* left: 20%; */
    /* top: 29%; */
    
}
.hero>h1>span{
    position: relative;
    /* background-color: blue; */
}
.fking-extra{
    /* left: -5% !important; */
    /* background-color: blue !important; */
    /* width: 110% !important; */
    content: "";
    position: absolute;
    height: 11px;
    top: 100%;
    left: -5%;
    width: 105%;
    background-color: rgb(255, 255, 255);
}
.flag{
    position: relative;
    z-index: 9999;
}
.flag:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
}
.hero-3{
    position: relative;
    z-index: 9999;
}
#flagimg{
    height: 25vw;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    opacity: 0 ;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    pointer-events: none;
}
#page2{
    height: 65vh;
    width: 100%;
    background-color: #151515;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    position: relative;
}
#video-container{
    height: 70vh;
    width: 73vw;
    margin-top: -3%;
    position: relative;
    /* background-color: red; */
    /* left: 19.2%; */
    overflow: hidden;
}
.triangle{
    rotate: 90deg;
    font-size: 1.6vw;
}
#cursor2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    /* top: -3%; */
    /* left: 75%; */
    left: 87%;
    top: -9%;
    z-index: 9;
    height: 9vw;
    width: 9vw;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: rgb(255, 166, 61);
    pointer-events: none;
}
#video-container img{
    position: absolute;
    height: 100%;
    width: 98%;
    -o-object-fit: cover;
       object-fit: cover;
    scale: 1.05;
    overflow: hidden;
}
#video-container video{
    height: 100%;
    overflow: hidden;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: grey; */
    background-color: #151515;
    position: relative;
}
#page3>#title{
    margin-bottom: 7vw;
}
.project-showoff{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* background-color: red; */
    /* margin-bottom: 1vw; */
    /* justify-content: space-between; */
    padding: 4vw 9vw 0 4vw;
    /* align-items: center; */
    height: 100vh;
}
#part1{
    /* background-color: grey; */
    height: 120vh;
    position: relative;
}
#part1>.img-div:nth-child(1){
    margin-right: 1.55vw;
    width: 22.05vw;
    height: 58vh;
}
#part1>.img-div:nth-child(2){
    /* margin-right: 17vw; */
    height: 94vh;
    width: 33.3vw;
}
#part1>.img-div:nth-child(2)>.info-1{
    bottom: -18%;
}
#part1>.tedabutton{
    position: absolute;
    left: 83%;
    top: 79%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.tedabutton{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* background-color: blue; */
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding: 0 0 1vw 0;
    position: relative;
}
.tedabutton img{
    /* margin-top: 50vh; */
    border-radius: 50%;
    margin-right: -2vw;
    border: 2px solid rgba(255, 255, 255, 0.8);
    /* background-color: blue; */
    height: 21vw;
    width: 21vw;
    padding: 6vw;
    /* background-color: white; */
    rotate: 90deg;
}
.popup{
    height: 95%;
    width: 110%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    scale: 0;
    -webkit-transition:all cubic-bezier(0,1.13,1,1) .8s;
    -o-transition:all cubic-bezier(0,1.13,1,1) .8s;
    transition:all cubic-bezier(0,1.13,1,1) .8s;
}
.popup h1{
    font-size: .9vw;
    font-weight: 500;
    color: black;
    scale: 0;
    -webkit-transition:all cubic-bezier(0,1.13,1,1) .8s;
    -o-transition:all cubic-bezier(0,1.13,1,1) .8s;
    transition:all cubic-bezier(0,1.13,1,1) .8s;
    -webkit-transition-delay: .25s;
         -o-transition-delay: .25s;
            transition-delay: .25s;
}
.tedabutton:hover .popup{
    scale: 1;
}
.tedabutton:hover .popup>h1{
    scale: 1;
}
.animatedtext{
    /* background-color: blue; */
    height: 2vw;
    overflow: hidden;
    margin-bottom: 1vw;
}
.animatedtext h1{
    font-size: 1.4vw !important;
}
.img-div{
    position: relative;
    height: 55vh;
    width: 22vw;
    /* overflow: hidden; */
    /* background-color: blue; */
    /* opacity: 1 !important; */
}
.img-div canvas{
    top: 3.2vw !important;
    left: 0 !important;
    height: 100% !important;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}
.img-div:hover canvas{
    /* filter: grayscale(0%) !important; */
    -webkit-filter: saturate(100%) contrast(100%) !important;
            filter: saturate(100%) contrast(100%) !important;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.img-div h1{
    margin-bottom: 1vw;
    text-transform: uppercase;
    font-family: '4';
    font-style: bold;
    font-size: 1.8vw;
    font-weight: 300;
}
.img-div>img{
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    top: 3.2vw !important;
    /* left: 0; */
}
.info-1{
    position: absolute;
    bottom: -34%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.4vw 0vw 1.3vw 0 !important;
    /* background-color: blue; */
    /* left: 10%; */
    width: 100%;
}
.info-1>.animatedline{
    bottom: 0%;
}
.info-1 h5{
    font-weight: 550;
    font-size: .95vw;
}

#part2{
    /* background-color: rgb(47, 47, 10); */
    padding: 4vw 1vw 4vw 4vw;
    position: relative;
    height: 125vh;
}
#part2>.tedabutton{
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    top: 25%;
    left: 13%;
}
#part2>.tedabutton>img{
    rotate: 45deg;
}
#part2>.img-div:nth-child(2){
    /* background-color: blue; */
    margin-left: 23.5vw;
    margin-top: 3vw;
    height: 90vh;
    width: 33.3vw;
}
#part2>.img-div:nth-child(3){
    /* background-color: blue; */
    margin-left: 1.7vw;
    margin-top: -5.5vw;
    height: 90vh;
    width: 33vw;
    margin-right: 3vw;
}
#part2>.img-div>.info-1{
    bottom: -20% !important;
}
#part3{
    /* background-color: grey; */
    position: relative;
}
#part3>.img-div:nth-child(1){
    /* background-color: blue; */
    margin-top: -12%;
}
#part3>.img-div:nth-child(3){
    /* background-color: red; */
    position: absolute;
    left: 61%;
    top: 50%;
    width: 38%;
    height: 80vh;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
#part3>.img-div:nth-child(3)>.info-1{
    bottom: -20%;
}
#part3>.img-div:nth-child(3)>canvas{
    width: 100% !important;
}
#part3>.tedabutton{
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    left: 49%;
    top: 85%;
}
#part3>.tedabutton>img{
    rotate: 0deg;
}
#part4{
    margin:16vw 0 10vw 0;
    height: 20vh;
    width: 100%;
    position: relative;
    /* background-color: red; */
}
#part4>.tedabutton{
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    left: 50%;
    top: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 21vw;
    width: 21vw;
    border-radius: 50%;
    /* border: 2px solid rgba(255, 255, 255, 0.8); */
    background-color: rgb(255, 166, 61);
}
#part4>.tedabutton>h1{
    font-size: 1vw;
    font-weight: 500;
    padding-top: 1vw;
}
#part4>.tedabutton>h1>span{
    font-size: .95vw;
    font-weight: 500;
    /* padding-top: 1vw; */
    font-family: '6';
}
/* #part4>.tedabutton:hover{
    height: 19.5vw;
    width: 19.5vw;
    transition: .3s cubic-bezier(.15,.84,.6,.99);
} */



































#page4{
    height: 220vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}
#page4-content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}
#title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    text-align: left;
    gap: 2vw;
    padding-left: 22%;
    position: relative;
    /* overflow: hidden; */
    /* background-color: blue; */
    /* height: 7.3vw;    */
}
#title>h4{
    font-family: '6';
    font-style: italic;
    font-weight: 400;
    font-size: 3vw;
    position: relative;
    left: -4%;
    top: -15%;
}
#title>h1{
    /* background-color: red; */
    width: 88%;
    font-size: 7.3vw;
    /* height: fit-content; */
    line-height: 7.3vw;
    text-transform: uppercase;
    font-family: '4';
    font-weight: 400;
    position: relative;
}
.animatedline{
    width: 100%;
    position: absolute;
    height: .05vw;
    background-color: white;
    /* top: 165%; */
    bottom: -50%;
    left: 0;
    z-index: 20;
}
#content{
    /* height: 100%; */
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 27.2%;
    margin-top: 10%;
}
#content>h1{
    font-family: '3';
    letter-spacing: -.03vw;
    font-size: 2.1vw;
    font-weight: 300;
    line-height: 2.4vw;
}
#fancy{
    /* background-color: blue; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4%;
    position: relative;
}
.ppl{
    width: 48%;
    height: 100%;
    margin-top: .3%;
    overflow: hidden;
}
#fancy img{
    width: 100%;
    height: 100%;
    margin-top: .3%;
    scale: 1.1;
}
#fancy>p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.fancy-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vw;
    width: 18vw;
}
.fancy-text>h3{
    margin-left: 7%;
    /* background-color: red; */
    font-size: .85vw;
    color: rgb(230, 230, 230);
    line-height: 1.27vw;
    font-family: '4';
    font-weight: 300;
    /* word-spacing: -.015vw; */
    letter-spacing: -.02vw;
}
#www{
    position: absolute;
    top: 150.5%;
    font-family: '4';
    font-weight: 300;
    line-height: 1.15;
    color: rgb(230, 230, 230);

}
#stats{
    height: 75%;
    width: 47.5%;
    position: absolute;
    background-color: rgb(63, 125, 244);
    z-index: 15;
    top: 57.5%;
    left: 33.8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2vw 3vw;
    padding-top: 3.5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /* justify-content: space-between;     */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .8vw 0vw;
    /* background-color: red; */
    margin-bottom: .3vw;
    border-bottom: 1px solid rgb(246, 249, 254);
}
.info>h1{
    font-family: '4';
    line-height: 1.6vw;
    height: 3vw;
    width: 50%;
    font-size: 1.45vw;
    font-weight: 300;
}
.info>h4{
    text-align: left;
    width: 40%;
    margin-left: 5%;
    /* background-color: blue; */
    font-size: .85vw;
    line-height: 1vw;
    font-weight: 300;
    font-family: '3';
}


#page5{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
.elem::-webkit-scrollbar{
    display: none;
}
.elem{
    /* background-color: blue; */
    margin: 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    overflow: hidden;

}
.elem>h1{
    /* animation-name: crawl;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    font-size: 7.3vw;
    line-height: 8.7vw;
    font-family: '4';
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
    margin-right: 16px;
    font-weight: 300;
}

.elem>h1>span{
    font-size: 7.3vw;
    line-height: 8.7vw;
    font-family: '6';
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 300;
}

/* @keyframes crawl1 {
    from{
        transform: translateX(calc(-100% + 20px));
    }
    to{
        transform: translateX(0);
    }
    
} */


#footer{
    height: 90vh;
    width: 100%;
    background-color: #151515;
}
.cooltext{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.4vw;
}
/* #THETEXT:hover{
    font-family: '5';
    -webkit-text-stroke: 1px white;
    color: transparent !important;    
} */

#italic{
    position: absolute;
    left: 0;
    font-family: '6';
    top: 0;
    display: none !important;
}
.entry-title__arrow{
    width: 6vw;
    /* margin-left: -2vw; */
    margin-top: .438vw;
}
.shiftright{
    margin-left: -1.5%;
}
.links{
    margin-left: 28.3%;
    margin-top: 10%;
    /* background-color: blue;   */
    height: 50vh;
    overflow: auto;
    position: relative;
    width: 68%;
    padding-right: 6vw;
}
.links>.animatedline{
    top: 80%;
}
.wrap{
    font-family: '3';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: rgb(194, 194, 194);
    padding-right: 1vw;
}
.details>h4{
    font-weight: 300;
    font-size: .835vw;
    line-height: .835vw;
    margin-bottom: 1.5vw;
}
.details>h1{
    font-weight: 300;
    font-size: 1.45vw;
    line-height: 1.5vw;
}
#end{
    position: relative;
    top: 35%;
    font-family: '4';
    font-weight: 300;
    font-size: .85vw;
    line-height: .9vw;
}
  